/* FONTS variables */

/* path */
$font-path: "../fonts";
$imgPath: '../img/';

/* fonts */
$poppinsRegular: "poppinsregular";
$poppinsMedium: "poppinsmedium";
$hindRegular: "hindregular";
$hindMedium: "hindmedium";
$hindLight: "hindlight";
$hindSemibold: "hindsemibold";
$hindBold: "hindbold";

/* colors */
$pink: #f21692;
$pinkDarker: #e30482;
$white: #fff;
$grayLight: #f1ebfb;
$darkBlue: #333a49;
$lightGray: #9194a6;
$lightGray1: #dcd8e6;
$lightGray2: #858c90;
$lightGray3: #f1f2f3;
$lightGray4: #faf9fd;
$lightGray5: #7d8099;
$lightGray6: #faf9fb;
$lightGray7: #5d607b;
$lightGray8: #7d8597;
$lightGray9: #f9f9fc;
$purple: #4b1faa;
$purpleLight: #e8d6fc;
$violete: #773add;
$violete2: #6033c2;
$violeteDark: #611cd3;
$blue: #6178d8;
$blue1: #2c39e8;
$blueLight: #e1e9f1;

$bg-white: #fff;

$bootstrap-sass-asset-helper: true !default;