.content, .nav-content {
    padding: 20px;
}

a {
    cursor: pointer;
}

.modal {
    overflow: visible;
    position: absolute;
    top: 50%;
}

input[type=checkbox] {
    vertical-align: text-bottom;
}

p {
    &.success {
        color: #2ab27b;
    }
    &.danger {
        color: #bf5329;
    }
}

.form-control {
    &.inline {
        display: inline;
    }
}

.panel-heading {
    background-color: #96e8ff !important;
}

.with-section-navigation {
    padding-right: 80px;
}

#backdrop {
    position: fixed !important;
    top: 0 !important;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 1;
    opacity: .5;
}

#field-properties {
    -webkit-transform: translate(0, calc(50vh - 50%));
    -ms-transform: translate(0, 50vh) translate(0, -50%);
    -o-transform: translate(0, calc(50vh - 50%));
    transform: translate(0, 40vh) translate(0, -50%);
}

#tab-content {
    min-height: 280px;
    max-height: 280px;
    overflow-y: auto;
    > div {
        padding: 20px 0;
    }
}

.form_components {
    > .list-group-item:hover {
        cursor: move;
    }
}

.form-operation {
    position: absolute;
    right: 2.2rem;
    display: none;
}

.space-between {
    margin-bottom: 60px;
}

#form-preview {
    .form-group {
        position: relative;
        padding: 0 2.2rem;
        &:hover {
            .form-operation {
                display: block;
            }
        }
    }
}


// override metronic draggable scroll in side menu
.m-aside-left--fixed .m-aside-left.m-aside-left--skin-dark .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #21232f;
}
.m-aside-left--fixed .m-aside-left.m-aside-left--skin-dark .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background: #1b1c26; }


/* SECTION NAVIGATION -  Overide timeline design
 */
.section-navigation {
    position: fixed;
    right: 1rem;
}

.section-navigation:before {
    background-color: #E7E9F5;
}

.section-navigation .section-navigation__items .section-navigation__item {
    display: table;
    position: relative;
    margin-right: 25px;
}

.section-navigation .section-navigation__items {
    float: right;
}

.section-navigation .section-navigation__items .section-navigation__item .section-navigation__item-cricle {
    position: relative;
    margin-bottom: 2rem;
}

.section-navigation .section-navigation__items .section-navigation__item .section-navigation__item-cricle a > i {
    font-size: 1.78rem;
}

.section-navigation:before {
    content: '';
    position: absolute;
    right: 2.5rem;
    width: 0.214rem;
    height: 100%;
}
